<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Exercicio_22_aula_14_Jardas_Metros/src/aula_14/Jarbas_Metros.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aula_14.Jarbas_Metros"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Exercicio_22_aula_14_Jardas_Metros"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exercicio_22_aula_14_Jardas_Metros"/>
</launchConfiguration>
