<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Exercicio_47.1_aula_14_Imprimir_um_numero_por_linha/src/aula_14/UmNumeroPorLinha.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aula_14.UmNumeroPorLinha"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Exercicio_39_aula_14_Divisão_de_premio"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exercicio_47.1_aula_14_Imprimir_um_numero_por_linha"/>
</launchConfiguration>
